@use '../../sass/abstracts/variables' as *;

.top {
    display: flex;
    align-items: center;
}

.line {
    border: 1px solid $grey-light;
    height: 1px;
    width: 35.5rem;
}

.title {
    font-size: $big;
    font-weight: 400;
    margin: 0 auto;
}

.list {
    display: flex;
    gap: 3.4rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $grey-light;
    align-items: center;
}
